/* Typography */

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  color:rgb(213, 207, 252);
}

p, a {
  font-family: 'Open Sans', sans-serif;
}


p {
  font-size: 14px;
  color:darkgray;
  margin-bottom: 30px;
  
  
}




/* Layout */

